{% extends "base.html" %}


{% block content %}
<section class="bg-center bg-no-repeat bg-white-600 bg-blend-multiply">

<div class="flex flex-col md:flex-row items-center justify-center px-6 mx-auto md:h-screen lg:py-0">
<div class="w-full md:w-2/4 space-y-4 text-center sm:max-w-md w-full mx-auto">
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Ecommerce is not just a trend  It's a <span class="text-blue-600 dark:text-blue-500">revolution </span> in the way we shop</h1>

</div>
<div class="w-full md:w-2/4 space-y-4 sm:max-w-md w-full mx-auto">
    <img src="https://images.pexels.com/photos/5632402/pexels-photo-5632402.jpeg" class="insert-0 opacity-50 object-cover border-none" alt="Ecommerce">
</div>
</div>
</section>


<!-- <section class="bg-center bg-no-repeat bg-[url('https://images.pexels.com/photos/5632402/pexels-photo-5632402.jpeg')] bg-gray-700 bg-blend-multiply">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">We invest in the world’s potential</h1>
        <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Get started
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
            <a href="#" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                Learn more
            </a>  
        </div>
    </div>
</section> -->

{% endblock %}