{% if product %}
<form action="{% url 'purchase:start' %}" method="post"> {% csrf_token %}
    <input type="hidden" value="{{ product.handle }}"  name="handle">
<div class="flex items-baseline text-gray-900 dark:text-white">
  <span class="text-3xl font-semibold">$</span>
  <span class="text-5xl font-extrabold tracking-tight">{{product.display_price}}</span>
</div>
{% if not request.user.is_authenticated %}
<a href="/login"><button type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">Login to buy it</button></a>
{% else %}
<button
  type="submit"
  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
>
  <svg
    class="w-3.5 h-3.5 me-2"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 18 21"
  >
    <path
      d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"
    />
  </svg>
  Buy now
</button>
{% endif %}
</form>
{% endif %}