{% if product %}
<form method="post" action="{% url 'purchases:start' %}">
    {% csrf_token %}
    <input type="hidden" value="{{product.handle}}" name="handle">
    
    <div class="flex items-baseline text-gray-900 dark:text-white">
        <span class="text-3xl font-semibold">$</span>
        <span class="text-5xl font-extrabold tracking-tight">{{product.price}}</span>
        
    </div>
    {% if not request.user.is_authenticated %}
        <a href="/login"class="btn-submit">Login now to purchase</a>
    {% else %}    
        <button type="submit" class="btn-submit">Buy Now</button>
    {% endif %}
</form>
{% endif %}