{% if attachments.exists %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    
                </th>
                
                <th scope="col" class="px-6 py-3">
                    Download
                </th>
            </tr>
        </thead>
        <tbody>
            {% for attachment in attachments %}
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   {{ attachment.display_name }}
                </th>
                <td class="px-6 py-4">
                    {% if attachment.is_free %}Free download {% endif %}
                </td>
               
                <td class="px-6 py-4">
                    {% if is_owner or attachment.is_free %}<a href="{{ attachment.get_download_url }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Download</a>{% else %}Purchase to download{% endif %}
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
{% endif %}