{% extends 'base.html' %}

{% block content %}
<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Create an account
                </h1>
                <form class="space-y-4 md:space-y-6" action="#" method="POST">{% csrf_token %}
                        {% for fields in form %}
                        <ul>
                        <li>{{fields.label}}</li>
                        <li>{{fields}}</li>
                        </ul>
                        {% endfor %}                 
  
                        <button type="submit" class="w-full text-black bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-blue-600">Create an account</button>
                </form>
                <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                    Already have an account? <a href="/accounts/login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
                </p>
                {% for message in messages %}
                {{message}}
                {% endfor %}
            </div>
        </div>
    </div>
  </section>
  {% endblock %}